<section>
  <h3><%= item_versao.modulo.descricao %></h3>
  <h2><%= item_versao.titulo %></h2>
  <%= content_tag item_versao.descricao_para_slide.length > 600 ? :small : :p, class: 'descricao-item-versao' do %>
    <%= item_versao.descricao_para_slide %>
  <% end %>
  <p><small><%= "#{item_versao.cod_evento} | #{item_versao.id_cliente_dest} | #{item_versao.usuario}" %></small></p>
</section>