<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
  <title>Treinamento da versão</title>
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <%= stylesheet_link_tag    "css/reveal.min.css", media: "all", "data-turbolinks-track" => true %>
    <%= stylesheet_link_tag    "css/theme/default.css", media: "all", "data-turbolinks-track" => true %>
    

		<!--<link rel="stylesheet" href="css/reveal.min.css">-
		<link rel="stylesheet" href="css/theme/default.css" id="theme">-->

		<!-- For syntax highlighting -->
    <%= stylesheet_link_tag    "lib/css/zenburn.css", media: "all", "data-turbolinks-track" => true %>
		<!-- If the query includes 'print-pdf', use the PDF print sheet -->
		<script>
			//document.write( '<link rel="stylesheet" href="css/print/' + ( window.location.search.match( /print-pdf/gi ) ? 'pdf' : 'paper' ) + '.css" type="text/css" media="print">' );
		</script>

		<!--[if lt IE 9]>
		<script src="lib/js/html5shiv.js"></script>
		<![endif]-->		

  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<div class="reveal">
		<div class="slides">

			<%= yield %>
		</div>
	</div>

  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	<%= javascript_include_tag "lib/js/head.min.js", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "js/reveal.js", "data-turbolinks-track" => true %>
	<script>
		Reveal.initialize({
			controls: true,
			progress: true,
			history: true,
			center: true,

			theme: Reveal.getQueryHash().theme,
			transition: Reveal.getQueryHash().transition || 'default', 
			dependencies: [
				{ src: '<%= asset_path('lib/js/classList.js') %>', condition: function() { return !document.body.classList; } },
				{ src: '<%= asset_path('plugin/markdown/marked.js') %>', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
				{ src: '<%= asset_path('plugin/markdown/markdown.js') %>', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
				{ src: '<%= asset_path('plugin/highlight/highlight.js') %>', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
				{ src: '<%= asset_path('plugin/zoom-js/zoom.js') %>', async: true, condition: function() { return !!document.body.classList; } },
				{ src: '<%= asset_path('plugin/notes/notes.js') %>', async: true, condition: function() { return !!document.body.classList; } }
			]
		});

	</script>	
</body>
</html>